@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2eadf;
}

.container{
    position: relative;
    width: 340px;
    height: 600px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    overflow: hidden;
}
header{
    position: relative;
    background: #008069;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;   
}

header .action{
    position: relative;
    display: flex;
    gap: 15px;
    text-decoration: none;
}
header .action a{
    color: white;
    display: flex;
    font-size: 1.5em;
    text-decoration: none;
}

.tabs input{
    visibility: hidden;
   display: none; 
}
.buttons{
    position: relative;
    display: flex;
    background: #008069;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
.buttons label{
    width: 25%;
    color: white;
    opacity: 0.75;
    text-align: center;
    padding: 5px 0;
    font-weight: 700;
    cursor: pointer;
}
.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.tabs input:nth-child(4):checked ~ .buttons label:nth-child(4){
    opacity: 1;
}

.underline{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 3px;
    background: white;
    transition: 0.5s;
}

.tabs input:nth-child(1):checked ~ .buttons .underline{
    left:0%;
}
.tabs input:nth-child(2):checked ~ .buttons .underline{
    left:25%;
}
.tabs input:nth-child(3):checked ~ .buttons .underline{
    left:50%;
}
.tabs input:nth-child(4):checked ~ .buttons .underline{
    left:75%;
}
.content{
    position: relative;
    width: calc(340px*4) ;
    display: flex;
    transition: 1.5s;
    overflow: hidden;
}
.content .box{
    position: relative;
    width: 340px;
}
.tabs input:nth-child(1):checked ~ .content{
    left: calc(340px *0) ;
}
.tabs input:nth-child(2):checked ~ .content{
    left: calc(340px * -1) ;
}
.tabs input:nth-child(3):checked ~ .content{
    left: calc(340px * -2) ;
}
.tabs input:nth-child(4):checked ~ .content{
    left: calc(340px * -3) ;
}
.content .data{
    position: relative;
    width: 100%;
    height: 510px;
}
.chatlist{
    position: relative;
    height: 100%;
    overflow-y: auto;
}
.chatlist .block{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap:10px;
    padding: 15px 15px;
    cursor: pointer;
}
.chatlist.block:hover{
    background: #f5f5f5;
}
.chatlist .block .imgbox{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.chatlist .block .imgbox img{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chatlist .block .details{
    position: relative;
    width: 100%;
}
.chatlist .block .details .listhead{
    display: flex;
    justify-content: space-between;
}
.chatlist .block .details .listhead h4{
    font-size: 1em;
    font-weight: 600;
    color: black;
    width: 100%;
}
.chatlist .block .details .listhead .time{
    font-size: 0.75em;
    color: #555;
}
 .message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatlist .block .details p{
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp:1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chatlist .block.unread .details .listhead .time{
    color: #06d755;   
}
.chatlist .block.unread .details p{
    color: #111;
    font-weight: 600;   
}
.message_p b{
    background: #06d755 ;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #bbb;
}
.plus{
    position: absolute;
    top: 38px;
    left: 40px;
    width: 25px;
    height: 25px;
    background: #008069;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}
.plus1{
    position: absolute;
    top: 15px;
    left:10px;
    width: 20px;
    height: 20px;
    background: #008069;
    border:1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.7em;
    font-weight: 700;
    
}
.user{
    font-size: 25px;
    padding-right: 10px;
    border-radius: 8px;
}
.chatlist .block1{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap:10px;
    padding: 15px;
    cursor: pointer;
}
.status{
    justify-content: space-around; 
    align-items: center; 
    display: flex; 
    flex-direction: row; 
    gap: 20px;
}
.chatlist .block1 .imgbx{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.chatlist .block1 .imgbx img{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chatlist .block2{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap:35px;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
}
.chatlist .block .details .listhead .symbol{
    font-size: 1em;
}
 .imagebx{
    position: relative;
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius:8px;
}
.imagebx img{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.unseen {
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #008069;
}
.seen {
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #bbb;
}
.green{
    background: #008069;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    rotate: -45deg;
}
.incoming ion-icon{
    color:#06d755;
    rotate: 45deg;
}
.outgoing ion-icon{
    color:#f00;
    rotate: 45deg;
}
.call{
    font-size: 1.5em;
    color: #008069;
}
.quickbtn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10000;
}
.quickbtn .btn{
    background:#008069 ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.35em;
    cursor: pointer;
    display: none;
}

.tabs input:nth-child(2):checked ~ .quickbtn .btn:nth-child(1){
    display: flex;
}
.tabs input:nth-child(3):checked ~ .quickbtn .btn:nth-child(2){
    display: flex;
}
.tabs input:nth-child(4):checked ~ .quickbtn .btn:nth-child(3){
    display: flex;
}

.quickbtn .btn .pencil{
    position: absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    background:#ddd;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 50%;
    font-size: 0.75em;
}
.chatbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efe6dd;
    z-index: 10000;
}
.chatbox.hide{
    display: none;
}

.chatbox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(images/1200x630wa.png);
    opacity: 0.05;
}
.chatheader{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #008069;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatheader .imgcontent{
    display: flex;
    align-items: center;
    gap: 5px;
}
.chatheader.imgcontent ion-icon{
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
}
ion-icon{
    cursor: pointer;
}
.chatheader .imgcontent .imgbx{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.chatheader .imgcontent .imgbx img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chatheader .imgcontent h3{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;

}
.chatheader .imgcontent h3 span{
    font-size: 0.7em;
    font-weight: 400;
}
.actionbtns{
    position: relative;
    display: flex;
    color:#fff;
    gap:15px;
}
.messagebox{
    position: relative;
    padding: 20px;
    height: 500px;
}
.messagebox .message{
    position: relative;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.messagebox .message::before{
    content: '';
    position: absolute;
    top:0;
    left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}
.time{
    position: relative;
    display: block;
    font-size: 0.7em;
    width: 100%;
    text-align: end;
    color: #777;

}
.messageinput{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.messageinput .input{
    position: relative;
    background: #fff;
    padding: 5px 10px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}
.messageinput .input ion-icon{
    color: #777;
    cursor: pointer;
    font-size: 1.4em;
}
.messageinput .input input{
    border:none;
    outline: none;
    padding: 5px;
}
.mic{
    position: relative;
    width: 40px;
    height: 40px;
    background: #008069;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #fff;
    font-size: 1.2em;
    border-radius: 50%;
    cursor: pointer;
}

.deg45{
    rotate: 45deg;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(90deg,rgb(204, 212, 173) 0%,rgb(218, 218, 167) 50%,rgb(209, 206, 153) 100%);
    color: black;
    text-align: center;
    font-family: 'PT Serif', serif;
    padding:1px;
    font-size: 12px;
 }